@import url('https://fonts.googleapis.com/css?family=Pattaya|Syncopate&display=swap');
/**************************************************************nav*********************************************************/
*{
    margin: 0px;
    padding: 0px;
}
.nav-bar{
    /* box-shadow: 0 3px 5px rgba(217, 30, 24, 1); */
    background-color: rgba(0, 0, 0, 0.5);
    
   
}
.navul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: right;
 
}
#imgnav-bar1{
    margin-top: 0px;
    margin-left: -90px;
    border-radius: 10px;
}
a{
    color: rgba(255, 255, 255, 0.7);
}
a:hover{
    color: rgba(217, 30, 24, 1);
}
/************************************************************body*********************************************************/

body{
    background-image: url('../images/p15.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    position: absolute;
}
.words{
   position: relative;
    text-align: right;
    top:200px;
    right:50px;
}
h1{
    color:rgba(217, 30, 24, 1);
    font-family: 'Pattaya', sans-serif;
}
.intro{
color: white;
font-family: 'Syncopate', sans-serif;
}
.imgp7{
    
    position: relative;
}
#p33{
  margin-left: 20px; 
  border-radius: 400px; 
}
.words{
position: absolute;
}
.button{
    background-color: rgba(217, 30, 24, 1);
}
/************************************************************footer*********************************************************/
footer{
    position: relative;
    top: 80px;
    background-color: rgba(0, 0, 0, 0.5);
}
.social{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.copyright{
    text-align: center;
    color:rgba(255, 255, 255, 0.7);
    
}